# Ignore node_modules in all directories
**/node_modules/

# Ignore .env files in all directories
**/.env

# Ignore dist folders in all directories
**/dist/

# Ignore all log files in all directories
**/*.log
